body {
	background: #042454;
}
.login {
	display: table;
	margin: 0 auto;
	position: relative;
}
h1 {
	color: white;
	font-weight: 400px;
	text-align: center;
}

input {
	display: block;
	width: 300px;
	height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	background: #041c3c;
	border: 0px;
}
input::placeholder {
	padding: 10px;
}
button {
	display: block;
	width: 300px;
	height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	background: #4c74d4;
	border: 0px;
	color: white;
}
